---
import Layout from '../layouts/Layout.astro';
import { Navigation } from '../components/Navigation';
import { Hero } from '../components/sections/Hero';
import { About } from '../components/sections/About';
import { Cats } from '../components/sections/Cats';
import { Blog } from '../components/sections/Blog';
import { Contact } from '../components/sections/Contact';
import { Footer } from '../components/Footer';
import { useTranslations, defaultLang } from '../lib/i18n';
import '../styles/globals.css';

const t = useTranslations(defaultLang);
---

<Layout title={`${t.hero.title} - Valencia Cat Association`}>
  <Navigation t={t} lang={defaultLang} currentPath={Astro.url.pathname} client:load/>
  <main>
    <Hero t={t} />
    <About t={t} />
    <Cats t={t} client:load />
    <Blog t={t} lang={defaultLang} client:load />
    <Contact t={t} />
  </main>
  <Footer t={t} />
</Layout>